@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 150px;
  margin-left: 21%;
  margin-right: 21%;
}

.tags {
  margin-top: 24px;
  margin-bottom: 24px;
  color: #7D7D81;
  font-size: 24px;
  font-family: var(--font-courier);
}

.title {
  color: var(--color-text);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 14px;
}

.projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.projectItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 17px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  line-height: 1.5;
}

.projectItemDetails {
  font-family: var(--font-roboto);
}

.description {
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 500;
}

.projectItemDetails p {
  color:#7D7D81;
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 10px;
}

.name {
  margin-top: 6px;
  list-style-position: inside;
  font-size: 24px;
  list-style-type: disc;
}


@media screen and (max-width: 830px) {
  .content {
    flex-direction: column;
    align-items: center;
    gap: 34px;
  }

  .skills {
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }

  .projects {
    width: 100%;
    gap: 9px;
  }
}
