@import "../../vars.css";

.navbar {
  position: fixed;
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  z-index: 2;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 200px;
  background-color: var(--color-bg);
}

.navbarImage {
  height: 100%; 
  object-fit: contain; 
  max-height: 108px; 
}

.title {
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-text);
}


.menuBtn {
  display: none;
}

.menu {
  display: flex;
}

.menuItems {
  display: flex;
  gap: 47px;
  list-style: none;
}

.menuItems a {
  font-size: 24px;
  color: #ffffff77; /* Translucent white by default */
  text-decoration: none; /* No underline by default */
  position: relative; /* Ensures the pseudo-element is scoped to the link */
  display: inline-block; /* Makes the link behave like a block for proper underline sizing */
  transition: color 0.3s ease; /* Smooth text color transition */
}

.menuItems a::after {
  content: ""; /* Creates the underline effect */
  position: absolute; /* Positioned relative to the link */
  bottom: -2px; /* Distance below the text */
  left: 0; /* Start underline from the left edge */
  width: 0; /* Initially no underline */
  height: 2px; /* Thickness of the underline */
  background-color: var(--color-text); /* Matches text color */
  transition: width 0.3s ease; /* Smooth animation for underline */
}

.menuItems a:hover {
  color: var(--color-text); /* Changes text color on hover */
}

.menuItems a:hover::after {
  width: 100%; /* Expand underline to full width */
}

#experience, #projects, #contact {
  scroll-margin-top: 250px; 
}

@media screen and (max-width: 830px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu {
    position: absolute;
    right: 0;
    margin-right: 10%;
    flex-direction: column;
    align-items: flex-end;
    gap: 11px;
    z-index: 3;
  }

  .menuBtn {
    display: block;
    cursor: pointer;
  }

  .menuItems {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    border-radius: 10px;
    background: rgb(25, 55, 109);
    background: linear-gradient(
      0deg,
      rgba(25, 55, 109, 0.2) 0%,
      rgba(25, 55, 109, 1) 100%
    );
    padding: 24px 33px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  }

  .menuOpen {
    display: flex;
    z-index: 1;
  }
}
